<!DOCTYPE html>
@*Used this youtube tutorial for plenty of help: https://www.youtube.com/watch?v=gqOEoUR5RHg or for just future reference*@
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Index</title>

    <style>

    </style>
</head>
<body>



    @*Added the CSS links*@
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @*Added the JS links*@
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/jquery-1.9.1.min.js"></script>

</body>
</html>
