<!DOCTYPE html>
@*Used this youtube tutorial for plenty of help: https://www.youtube.com/watch?v=gqOEoUR5RHg or for just future reference*@
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Index</title>

    <style>
        body {
            border-radius: 5px;
            border: 3px solid red;
            background-image: url("https://s-media-cache-ak0.pinimg.com/originals/be/ea/79/beea7991d2bb1b10193859a08ad989ef.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
            height: 100%;
            width: 100%;
        }

        #container1_Banner {
            background: rgba(0, 0, 0, 0.5);
            text-align: center;
            display: block;
            border-radius: 5px;
            border: 12px solid yellow;
            color: yellow;
        }

        #container2_Links {
            background: rgba(0, 0, 0, 0.5);
            color: yellow;
            text-align: left;
            padding: 25px;
        }

        .BtnLink {
            cursor: pointer;
        }

        #BtnHome {
            background-attachment: fixed;
            background: rgba(0, 0, 0, 1);
            border-radius: 5px;
            border: 1px solid yellow;
            color: yellow;
            height: 50px;
            width: 100px;
        }

            #BtnHome:hover {
                background-color: yellow;
                color: black;
                border-radius: 5px;
                border: 1px solid red;
            }

        #BtnAbout {
            background: rgba(0, 0, 0, 1);
            border-radius: 5px;
            border: 1px solid yellow;
            color: yellow;
            height: 50px;
            width: 100px;
        }

            #BtnAbout:hover {
                background-color: yellow;
                color: black;
                border-radius: 5px;
                border: 1px solid red;
            }

        #BtnPlaceholder1 {
            background: rgba(0, 0, 0, 1);
            border-radius: 5px;
            border: 1px solid yellow;
            color: yellow;
            height: 50px;
            width: 100px;
            padding-top: 12px;
        }

            #BtnPlaceholder1:hover {
                background-color: yellow;
                color: black;
                border-radius: 5px;
                border: 1px solid red;
            }

        #BtnPlaceholder2 {
            background: rgba(0, 0, 0, 1);
            border-radius: 5px;
            border: 1px solid yellow;
            color: yellow;
            height: 50px;
            width: 100px;
            padding-top: 12px;
        }

            #BtnPlaceholder2:hover {
                background-color: yellow;
                color: black;
                border-radius: 5px;
                border: 1px solid red;
            }

        #BtnContact {
            background: rgba(0, 0, 0, 1);
            border-radius: 5px;
            border: 1px solid yellow;
            color: yellow;
            height: 50px;
            width: 100px;
        }

            #BtnContact:hover {
                background-color: yellow;
                color: black;
                border-radius: 5px;
                border: 1px solid red;
            }

        #container3_welcome {
            background: rgba(0, 0, 0, 0.5);
            height: 80%;
            display: block;
            text-align: center;
            align-content: center;
            border-radius: 5px;
            border: 12px solid yellow;
            color: yellow;
        }

        #container3_welcome_image {
            display: inline-block;
            background: rgba(0, 0, 0, 0.5);
            border-radius: 5px;
            border: 1px solid yellow;
            width: 350px;
            height: 350px;
            margin: 50px;
            float: left;
        }

        #container3_1_welcome {
            border: 1px solid green;
        }

        .p_right {
            display: inline-block;
            border-radius: 5px;
            border: 1px solid yellow;
            margin: 50px;
            margin-left: 50px;
            width: 60%;
        }
        .container {
            background-color: #FFFF00;
        }
        div_header {
            background-color: #FF0000;
        }
        .jumbotron {
            background-color: #00FF00;
            color: yellow;
        }
    </style>
</head>
<body>
    <div id="container1_Banner">
        <h1>
            Gustaf V. M. "kinGQ2" Wallin - Hirable
        </h1>
        <p>
            - Ambitious student looking for work within IT. -
        </p>
    </div>
    <div id="container2_Links">
        <button id="BtnHome" type="button" onclick="location.href = 'http://localhost:50349/Home/Index'">Home</button> |
        <button id="BtnAbout" type="button" onclick="location.href = 'http://localhost:50349/Home/Index'">About</button> |
        <button id="BtnPlaceholder1" type="button" onclick="location.href = 'http://localhost:50349/Home/Index'"></button> |
        <button id="BtnPlaceholder2" type="button" onclick="location.href = 'http://localhost:50349/Home/Index'"></button> |
        <button id="BtnContact" type="button" onclick="location.href = 'http://localhost:50349/Home/Index'">Contact</button> |
    </div>
    <div id="container3_welcome">
        <div id="container3.1_welcome">
            <p class="p_right">
                Welcome to this site made entirely for the recommendation of hireship for this young lad. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempus ex id dignissim consectetur.
                Nunc euismod, est ac consequat ultrices, purus leo aliquam tortor, id molestie lacus eros et odio. Donec quam nisl, varius viverra finibus sit amet, sodales eu tellus. Nulla facilisi.
                Sed sagittis diam non blandit ornare. Aliquam vel tincidunt tellus. Morbi in arcu odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempus ex id dignissim consectetur.
                Nunc euismod, est ac consequat ultrices, purus leo aliquam tortor, id molestie lacus eros et odio. Donec quam nisl, varius viverra finibus sit amet, sodales eu tellus. Nulla facilisi.
                Sed sagittis diam non blandit ornare. Aliquam vel tincidunt tellus. Morbi in arcu odio.
            </p>
            <p class="p_right">
                Welcome to this site made entirely for the recommendation of hireship for this young lad. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempus ex id dignissim consectetur.
                Nunc euismod, est ac consequat ultrices, purus leo aliquam tortor, id molestie lacus eros et odio. Donec quam nisl, varius viverra finibus sit amet, sodales eu tellus. Nulla facilisi.
                Sed sagittis diam non blandit ornare. Aliquam vel tincidunt tellus. Morbi in arcu odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempus ex id dignissim consectetur.
                Nunc euismod, est ac consequat ultrices, purus leo aliquam tortor, id molestie lacus eros et odio. Donec quam nisl, varius viverra finibus sit amet, sodales eu tellus. Nulla facilisi.
                Sed sagittis diam non blandit ornare. Aliquam vel tincidunt tellus. Morbi in arcu odio.
            </p>
        </div>
    </div>



    <div class="container">
        <div class="div_header">
            <h1>This is all written from a Youtube tutorial. Well, not everything, that'd be silly Youtube can't use my fingers.</h1>
        </div>
        <div class="jumbotron">
            <p>Blerple perpleBlerple perpleBlerple perpleBlerple perpleBlerple perpleBlerple perpleBlerple perpleBlerple 
            perpleBlerple perpleBlerple perpleBlerple perpleBlerple perpleBlerple perpleBlerple perpleBlerple perpleBlerple 
            perpleBlerple perpleBlerple perpleBlerple perpleBlerple perpleBlerple perpleBlerple perpleBlerple perpleBlerple 
            perpleBlerple perpleBlerple perpleBlerple perpleBlerple perpleBlerple perpleBlerple perpleBlerple perpleBlerple 
            perpleBlerple perpleBlerple perpleBlerple perpleBlerple perpleBlerple perpleBlerple perpleBlerple perpleBlerple 
            perpleBlerple perple</p>
            <p>
                <a href="#" class="btn btn-default btn-lg" role="button">More</a>

                <button type="submit" class="btn btn-danger" role="button">Button</button>
                <input type="button" value="Info" class="btn btn-info" />
                <button type="submit" class="btn-primary btn-sm">Primary</button>
                <button type="submit" class="btn btn-success btn-xs">Success</button>
                <button type="submit" class="btn btn-warning btn-lg">Warning</button>
                <button type="submit" class="btn btn-link btn-lg">Link</button>

                <button type="button" class="btn btn-lg btn-primary" disabled="disabled">Primary</button>
                <a href="#" class="btn btn-default btn-lg disabled" role="button">Link</a>

                <div class="btn-group btn-group-lg" role="group">
                    <button type="button" class="btn btn-default">Small</button>
                    <button type="button" class="btn btn-default">Medium</button>
                    <button type="button" class="btn btn-default">Large</button>
                </div>
            </p>
        </div>
        @RenderBody()
        <footer>
            <p>This will appear at the bottom. Like an (c) thing or something.</p>
        </footer>
    </div>

    @*Added the CSS links*@
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @*Added the JS links*@
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/jquery-1.9.1.min.js"></script>

</body>
</html>
