<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <title>Index</title>
</head>
<body>
    <div class="container">
        @RenderBody()
        <footer>
            <p>(c) Team T4 2016</p>
        </footer>
    </div>

</body>
</html>
